<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeSql" version="3.2.833" targetFramework="net48" />
  <package id="FreeSql.DbContext" version="3.2.833" targetFramework="net48" />
  <package id="FreeSql.Extensions.BaseEntity" version="3.2.833" targetFramework="net48" />
  <package id="FreeSql.Extensions.JsonMap" version="3.2.833" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
</packages>